:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    
    --c1: rgb(116, 26, 201);
    --c2: rgb(189, 19, 204);
    --c3: rgb(211, 80, 19);
    --c4: rgb(252, 204, 73);
    
    --left-color: var(--c1);
    --right-color: var(--c2);
  }


body {
    background-color: var(--dark);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
}

.card {
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid var(--blue);
    cursor: pointer;
    position: relative;
    width: 50vmin;
}

.card:hover:before {
    background-position: 100%, 100%;
    transform: scale(1.04, 1.02);
}

.card:hover > .card-content {
    background-position: -11% 0%;
}

.card:hover > .card-content > .card-subtitle {
    opacity: 1;
}

.card:before {
    background: linear-gradient(
        130deg,
        transparent 0% 50%,
        var(--c1) 62.5%,
        var(--c2) 75%,
        var(--c3) 87.5%,
        var(--c4) 100%
    );
    background-position: 0% 0%;
    background-size: 400%, 400%;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    transition: background-position 500ms ease;
    position: absolute;
    z-index: 1;
}

.card-content {
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    position: relative;
    padding: 5vmin;
    height: calc(100% - 10vmin);
    width: calc(100% - 10vmin);
    transition: background-position 500ms ease;
    z-index: 2;
}

.card-title, .card-subtitle {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-title {
    color: white;
    font-size: 3vmin;
}

.card-subtitle {
    color: white;
    opacity: 0;
    margin-top: 2vmin;
    font-size: 2vmin;
    transition: opacity 500ms ease;
    position: relative;
}

